<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
  <div class="row my-1">
    Entrez un nom d'utilisateur
  </div>
  <div class="row my-1">
    <div class="col d-flex">
      <label>
        <input #inputElement (keyup.enter)="connect(inputElement)" class="form-control" placeholder="Entrez un nom d'utilisateur"
               type="text">
      </label>
      <button (click)="connect(inputElement)" class=" btn"><i class="material-icons">send</i></button>
    </div>
  </div>
</div>
